<?xml version="1.0" ?>
<!-- Generated using onshape-to-robot -->
<!-- Onshape https://cad.onshape.com/documents/02830e503a1c2626d58e0780/w/62db7934caa01effe231f1a9/e/403997dc9b8865e58fc05acd -->
<robot name="cup_manipulator">
  <!-- Link base_mount_manipulator -->
  <link name="base_mount_manipulator">
    <inertial>
      <origin xyz="-1.28866e-19 -3.07959e-17 0.553261" rpy="0 0 0"/>
      <mass value="542.696"/>
      <inertia ixx="58.2669" ixy="-1.00642e-16" ixz="4.30399e-16" iyy="58.2669" iyz="2.04245e-15" izz="5.62415"/>
    </inertial>
    <!-- Part base_mount_manipulator -->
    <visual>
      <origin xyz="0 -5.55112e-17 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://assets/base_mount_manipulator.stl"/>
      </geometry>
      <material name="base_mount_manipulator_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 -5.55112e-17 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://assets/base_mount_manipulator.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link link1 -->
  <link name="link1">
    <inertial>
      <origin xyz="-0.549225 -3.5583e-17 -0.0251674" rpy="0 0 0"/>
      <mass value="10.8153"/>
      <inertia ixx="0.0128988" ixy="5.51803e-17" ixz="-0.0266598" iyy="0.981141" iyz="-1.47991e-18" izz="0.983505"/>
    </inertial>
    <!-- Part link1 -->
    <visual>
      <origin xyz="6.16298e-33 -2.44929e-18 -1.21437" rpy="0 -0 5.55112e-17"/>
      <geometry>
        <mesh filename="package://assets/link1.stl"/>
      </geometry>
      <material name="link1_material">
        <color rgba="0.647059 0.647059 0.647059 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="6.16298e-33 -2.44929e-18 -1.21437" rpy="0 -0 5.55112e-17"/>
      <geometry>
        <mesh filename="package://assets/link1.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link link2 -->
  <link name="link2">
    <inertial>
      <origin xyz="-0.499172 -1.4477e-16 -0.0190625" rpy="0 0 0"/>
      <mass value="9.62243"/>
      <inertia ixx="0.00834558" ixy="-4.16147e-17" ixz="0" iyy="0.75801" iyz="0" izz="0.764024"/>
    </inertial>
    <!-- Part link2 -->
    <visual>
      <origin xyz="0.953 -5.55112e-17 1.05812" rpy="3.14159 -0 5.55112e-17"/>
      <geometry>
        <mesh filename="package://assets/link2.stl"/>
      </geometry>
      <material name="link2_material">
        <color rgba="0.231373 0.380392 0.705882 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.953 -5.55112e-17 1.05812" rpy="3.14159 -0 5.55112e-17"/>
      <geometry>
        <mesh filename="package://assets/link2.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link part_1 -->
  <link name="part_1">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-09"/>
      <inertia ixx="1e-09" ixy="0" ixz="0" iyy="1e-09" iyz="0" izz="1e-09"/>
    </inertial>
    <!-- Part part_1 -->
    <visual>
      <origin xyz="-0.3015 -8.32667e-17 -0.15" rpy="3.14159 -0 0"/>
      <geometry>
        <mesh filename="package://assets/part_1.stl"/>
      </geometry>
      <material name="part_1_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.3015 -8.32667e-17 -0.15" rpy="3.14159 -0 0"/>
      <geometry>
        <mesh filename="package://assets/part_1.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from link2 to part_1 -->
  <joint name="cup_ee" type="revolute">
    <origin xyz="-0.953 -2.22045e-16 0" rpy="0 -0 -2.98756"/>
    <parent link="link2"/>
    <child link="part_1"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>
  <!-- Joint from link1 to link2 -->
  <joint name="link2_link1" type="revolute">
    <origin xyz="-0.953 -5.07838e-17 -0.118125" rpy="3.14159 -0 0.526654"/>
    <parent link="link1"/>
    <child link="link2"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>
  <!-- Joint from base_mount_manipulator to link1 -->
  <joint name="link1_mount" type="revolute">
    <origin xyz="-6.45044e-17 1.47663e-17 1.17625" rpy="0 -0 2.04171"/>
    <parent link="base_mount_manipulator"/>
    <child link="link1"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>
</robot>
