<?xml version="1.0" ?>
<!-- Generated using onshape-to-robot -->
<!-- Onshape https://cad.onshape.com/documents/02830e503a1c2626d58e0780/w/62db7934caa01effe231f1a9/e/403997dc9b8865e58fc05acd -->
<robot name="cup_manipulator">
  <!-- Link base_mount_manipulator -->
  <link name="base_mount_manipulator">
    <inertial>
      <origin xyz="-4.36314e-19 -1.69181e-17 0.553261" rpy="0 0 0"/>
      <mass value="542.696"/>
      <inertia ixx="58.2669" ixy="-1.00642e-16" ixz="4.10907e-16" iyy="58.2669" iyz="2.02826e-15" izz="5.62415"/>
    </inertial>
    <!-- Part base_mount_manipulator -->
    <visual>
      <origin xyz="0 -4.16334e-17 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://cup_assets/base_mount_manipulator.obj"/>
      </geometry>
      <material name="base_mount_manipulator_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 -4.16334e-17 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://cup_assets/base_mount_manipulator.obj"/>
      </geometry>
    </collision>
  </link>
  <!-- Link link1 -->
  <link name="link1">
    <inertial>
      <origin xyz="0.549225 1.93035e-17 0.0129576" rpy="0 0 0"/>
      <mass value="10.8153"/>
      <inertia ixx="0.0128988" ixy="0" ixz="0.0266598" iyy="0.981141" iyz="0" izz="0.983505"/>
    </inertial>
    <!-- Part link1 -->
    <visual>
      <origin xyz="0 1.63271e-17 -1.17625" rpy="0 -0 3.14159"/>
      <geometry>
        <mesh filename="package://cup_assets/link1.obj"/>
      </geometry>
      <material name="link1_material">
        <color rgba="0.647059 0.647059 0.647059 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 1.63271e-17 -1.17625" rpy="0 -0 3.14159"/>
      <geometry>
        <mesh filename="package://cup_assets/link1.obj"/>
      </geometry>
    </collision>
  </link>
  <!-- Link link2 -->
  <link name="link2">
    <inertial>
      <origin xyz="-3.09078e-14 -0.499172 0.0190625" rpy="0 0 0"/>
      <mass value="9.62243"/>
      <inertia ixx="0.75801" ixy="-4.62737e-14" ixz="0" iyy="0.00834558" iyz="0" izz="0.764024"/>
    </inertial>
    <!-- Part link2 -->
    <visual>
      <origin xyz="5.90639e-14 0.953 -1.05812" rpy="0 -0 1.5708"/>
      <geometry>
        <mesh filename="package://cup_assets/link2.obj"/>
      </geometry>
      <material name="link2_material">
        <color rgba="0.231373 0.380392 0.705882 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="5.90639e-14 0.953 -1.05812" rpy="0 -0 1.5708"/>
      <geometry>
        <mesh filename="package://cup_assets/link2.obj"/>
      </geometry>
    </collision>
    <!-- Part part_1 -->
    <visual>
      <origin xyz="-7.77156e-14 -1.2545 -0.15" rpy="3.14159 -0 1.5708"/>
      <geometry>
        <mesh filename="package://cup_assets/part_1.obj"/>
      </geometry>
      <material name="part_1_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-7.77156e-14 -1.2545 -0.15" rpy="3.14159 -0 1.5708"/>
      <geometry>
        <mesh filename="package://cup_assets/part_1.obj"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from link1 to link2 -->
  <joint name="link2_link1" type="revolute">
    <origin xyz="0.953 1.87764e-17 -0.08" rpy="0 -0 3.14159"/>
    <parent link="link1"/>
    <child link="link2"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>
  <!-- Joint from base_mount_manipulator to link1 -->
  <joint name="link1_base" type="revolute">
    <origin xyz="0 -3.91841e-17 1.17625" rpy="3.14159 -0 0"/>
    <parent link="base_mount_manipulator"/>
    <child link="link1"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>
</robot>
